
*.py[co]
*.sw[po]
*.egg*
*.rdb
.idea/
.coverage
pip-log.txt
docs/_gh-pages
build/
build.py
build
.DS_Store
.noseids
tmp/*
*.swp
*~
*.log.*
*.log
*.db
db/
test_db/
.vagrant
*.sublime-project
*.sublime-workspace
media/*
tms/media/*
assets/*
tms/assets/*
.idea/*
whoosh_index/*
.templates/
.templates
CACHE
CACHE/*
togit.sh
htmlcov/
.env
.vscode/*


.eslintrc.yml
.flake8
.isort.cfg
.pre-commit-config.yaml
.prettierrc.yml
.AUTHORS.rst
.LICENSE.rst
.pytest.ini
.README.rst
.runtime.txt
tms/utils/
tms/user/
tms/conftest.py
tms/docker-compose.yml
tms/Dockerfile
tms/tms.db
tms/utils
