{% extends 'base.html' %}

{% load static %}

{% block content %}
{% csrf_token %}

<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote-lite.min.js"></script>

{% if request.user.is_authenticated %}
<nav class="project-nav">
    <ul>
        {% if request.user.groups.first.name == "Admin" or request.user.groups.first.name == "Project Manager" %}
        <li id="add-project"><a>Create Project</a></li>
        {% else %}
        {% endif %}
        <li id="selector">Project List</li>
        <li id="create-task">Create Task</li>
        <li id="task-list">Task List</li>
    </ul>
</nav>
{% else %}
{% endif %}



<!--This is  project list table  -->
<table class="table justify-content-center" id="project-table">
    <button type="button" class="btn btn-dark" id="create-project-btn">create Project</button>
    <thead>
    <tr>
        <th scope="col">No.</th>
        <th scope="col" id="project">Project name</th>
        <th scope="col">Add Task</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody id="project-table-body">
    {% for project_items in projects %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{project_items.name}}</td>
        <td><p class="btn create-task-btn" value="{{project_items.pk}}">+</p></td>
        <td>
            <button type="button" class="btn btn-primary edit-project-btn" data-bs-toggle="modal"
                    data-bs-target="#project_edit" value="{{project_items.pk}}">Edit
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-primary delete-project-btn" value="{{project_items.pk}}">Delete</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<!--This is create project modal -->

<div class="modal create-project" tabindex="-1">
    <div class="modal-dialog modal-lg container">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mt-2">
                    <label data-error="wrong" data-success="right" for="project_name">Project name</label>
                    <input type="text" id="project_name" class="form-control validate">
                </div>
                <div class="mt-4">
                    <label data-error="wrong" data-success="right">Description</label>
                    <textarea id="summernote"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="create_project">Save</button>
            </div>
        </div>
    </div>
</div>


<!-- this modal for edit project -->


<div class="modal edit-modal" id="project_edit" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-lg container">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mt-2">
                    <label data-error="wrong" data-success="right" for="edit-project-name">Project name</label>
                    <input type="text" id="edit-project-name" class="form-control validate">
                </div>
                <div class="mt-4">
                    <label data-error="wrong" data-success="right">Description</label>
                    <textarea id="edit-summernote"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="edit_project">Save</button>
            </div>
        </div>
    </div>
</div>


<!-- this modal for create task -->

<div class="modal create-task" tabindex="-1">
    <div class="modal-dialog modal-lg container">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="mt-2">
                    <label data-error="wrong" data-success="right" for="project_name">Projects</label>
                    <select class="form-control validate" id="select_project">
                        <option>select project</option>
                        {% for projects in projects %}
                        <option value="{{projects.id}}">{{projects.name}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mt-4">
                    <label data-error="wrong" data-success="right" for="project_name">Task name</label>
                    <input type="text" id="task-name" class="form-control validate">
                </div>

                <div class="mt-4">
                    <label data-error="wrong" data-success="right" for="project_name">Users</label>
                    <select class="form-control validate" id="select_user">
                        <option>Select user</option>
                        {% for user in queryset %}
                        <option value="{{user.id}}">{{user.username}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mt-4">
                    <label data-error="wrong" data-success="right" for="project_name">Due Date</label>
                    <input id="due-date" class="form-control" type="date"/>
                </div>

                <div class="mt-4">
                    <label data-error="wrong" data-success="right" for="project_name">Priority</label>
                    <select class="form-control validate" id="select-priority">
                        <option>Select priority</option>
                        <option value="Normal">Normal</option>
                        <option value="Low">Low</option>
                        <option value="High">High</option>
                        <option value="Urgent">Urgent</option>
                    </select>

                </div>

                <div class="mt-4">
                    <label data-error="wrong" data-success="right" for="project_name">Select Status</label>
                    <select class="form-control validate" id="select-status">
                        <option value="pending">Pending</option>
                        <option value="in_process">In Process</option>
                        <option value="completed">Completed</option>
                    </select>

                </div>

                <div class="mt-4">
                    <label data-error="wrong" data-success="right">Description</label>
                    <textarea id="create-task-summernote"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary task_create" id="task_create">Save</button>
            </div>
        </div>
    </div>
</div>

<!-- this table for task list -->

<table class="table justify-content-center" id="task-list-table">
    <button type="button" class="btn btn-dark" id="create-task-btn">create task</button>
    <thead id="task-table-heading">
    <tr>
        <th scope="col">No.</th>
        <th scope="col">Project name</th>
        <th scope="col">Task name</th>
        <th scope="col">Assignee</th>
        <th scope="col">Due Date</th>
        <th scope="col">Priority</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody id="task-table-body">
    {% for task_item in tasks %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{task_item.project_name}}</td>
        <td>{{task_item.name}}</td>
        <td>{{task_item.assignee_username}}</td>
        <td>{{task_item.due_date}}</td>
        <td>{{task_item.priority}}</td>
        <td>
            <button type="button" class="btn btn-primary edit-project-btn" data-bs-toggle="modal"
                    data-bs-target="#project_edit" value="{{task_item.pk}}">Edit
            </button>
        </td>
        <td>
            <button type="button" class="btn btn-primary delete-project-btn" value="{{task_item.pk}}">Delete</button>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>


<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>

{% endblock %}
